.area-recipe-cards-container {
  padding-bottom: 50px;
}

.spinner-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style: none;
  place-items: center;
  padding: 0;
}

.label {
  margin: 0 auto;
  width: fit-content;
  color: black;
  font-family: 'ADLaM Display', cursive;
  padding: 23px 0 62px 0;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}