header {
  background-color: white;
}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-svg {
  margin-left: 35px;
  margin-top: 5px;
  width: 40px
}

.title {
  font-family: 'ADLaM Display', cursive;
  text-align: center;
  color: black;
  font-size: 2.5em;
  margin-right: 158px;
}

.heart-svg {
  margin-right: 35px;
  width: 35px;
}

.header-divider {
  background-image: linear-gradient(90deg, #ed6ea0 0, #ec8c69);
  overflow: hidden;
}